body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  background: black;
  z-index: 5;
}
header img {
  height: 50px;
}
header nav ul {
  list-style: none;
  display: flex;
  padding-right: 10px;
}
header nav li {
  padding: 0 10px;
}
header nav a {
  text-decoration: underline;
  color: seashell;
}
/* Main content */
main {
  padding-top: 70px;
  opacity: 0.9;
  margin: 0 40px;
}
main div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* Mission section */
#mission {
  height: 700px;
  flex-basis: 1200px;
  background: url("../images/img-mission-background.jpg") center no-repeat;
}
#mission h2, h4 {
  background: black;
  width: 100%;
  margin: 0;
  padding: 10px;
}
/* Featured section */
#featured {
  flex-basis: 1000px;
}
#featured ul {
  display: flex;
  list-style: none;
}
/* Footer */
