body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}
main {
  opacity: 0.9;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
}
header img {
  height: 50px;
}
header nav ul {
  list-style: none;
  display: flex;
  padding-right: 10px;
}
header nav li {
  padding: 0 10px;
}
header nav a {
  text-decoration: underline;
  color: seashell;
}
/* Main layout */
main {
  padding-top: 69px;
}


/* Footer */
